/*********************************************************
I TRIED TO MAKE THIS EASY TO STYLE! SEE NOTES BELOW
**********************************************************/
.dropdown {
	/*
		OVER ALL LINE HEIGHT
	*/
	line-height:25px;
}
.dropdown a {
	/* The minimum width of the "MAIN" links on top */
	/*min-width: 40px;*/
	font-family: Geneva, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	font-weight:bold;
	/*letter-spacing:1px;*/
	display:block;
	padding:0px 10px 0px 10px;
	color:#333333;
	text-decoration:none;
	text-align:center;
}
.dropdown a:hover{
}
.dropdown ul {
	top:32px;
}
.dropdown li ul a{
	/* The width of the dropdown and popout menu */
	width:125px;
	background-color:black;
	text-align:left;
	color:#CCCCCC;

	
	/*
		Optional thought i'd make the drop down and popout transparent
		This line is also what is killing the CSS validation
	*/
	filter:alpha(opacity=90);-moz-opacity:.90;opacity:.90;
}
.dropdown li ul {
	border-top: solid 1px #333;
	/* time for some math  {a}:width + {a}:padding + {a}:border */
	width:147px;
}
.dropdown li ul li{
	/* time for some math  {a}:width + {a}:padding + {a}:border */
	width:147px;
}
.dropdown li ul li a{
	border-bottom: solid 1px #333333;
	border-left:   solid 1px #333333;
	border-right:  solid 1px #333333;
}

.dropdown li ul li a:hover{
	background:#232932;
}
/*.dropdown a.popout {         /* totally optional popout indicator *//*
	
	background-image: url(images/popout.png);
	background-position:center right;
	background-repeat:no-repeat;
}*/

/************************************************************
ONLY EDIT BELOW IF YOU REALLY KNOW WHAT YOUR DOING!
************************************************************/
.dropdown {
	margin:0;
	padding:0;
	list-style-type:none;
}
.dropdown ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
.dropdown a {
	display:block;
}
.dropdown li{
	float:left;
	position:relative;
	display: block;
}
.dropdown ul {
	position:absolute;
	display:none;
}
.dropdown li ul a{
	float:left;
}
.dropdown li ul {
	float:left;
}
.dropdown li ul li{
	float:left;
	position:relative;
}
.dropdown ul ul{
	top:0;
	left:100%;
}
.dropdown li ul ul {
	width:auto;
	margin: -1px 0px 0px 0px;
	float:left;
	border-top:1px solid #333333;
}
.dropdown li:hover ul ul, .dropdown li:hover ul ul ul, .dropdown li:hover ul ul ul ul{
	display:none;
}
.dropdown li:hover ul, .dropdown li li:hover ul, .dropdown li li li:hover ul, .dropdown li li li li:hover ul{
	display:block;
}
